{% extends "layout.html"%}
{% block content %}
<h1>Blog</h1>
<h1>How does a pulley work ?</h1>
  <h3><p>what is a pulley ?</p></h3>
     <p>Pulleys are mechanisms compost by wheel and rope used to lift heavy objects onto tall heights.
     <p>They change the direction of an applied force and they can even reduce the force needed to lift a weight.</p>
     <p>Pulleys systems are commonly used in constructions.</p>
   <h3><p>how does a pulley make work easier?</p></h3>
     <p>A pulley with one wheel allows you to reverse the direction of your lifting force by pulling down on a rope (that's looped over the wheel), lifting your weight.</p> With a two-wheel pulley, you reduce the effort you exert to lift the same amount of weight.</p><p> The larger your ME, the less force you need to lift a weight.</p>
    <h3><p>Formula no pulley</p></h3>

<p>S = F                                  (1)</p>

<p>where</p>

<p>S = effort force (N, lb)</p>

<p> = load (N, lb)</p>

<h3><p>Formula fixed pulley</p></h3>

<p>S = F                                (2)</p>

<p><h1>should we stop if we fail something?</h1></p>
    <p>No,if we fail something we should not quit if something fails we should try again and again until you achieve that goal.</p>
    <p>life is hard,challenging and beautiful.every one goes through failures.Its not like you will fail all the time. </p>
    <p>everyone will be successful if we keep on trying. Nobody cannot build a A.I. robot fully walkable in their first try.</p>
    <p>we should always search what was the mistake evry time we fail and rectify that.</p>
    <p>Everybody will win one time</p>
<link rel="stylesheet" type="img/css" href="{{url_for('static', filename='style.css')}}">
{% endblock %}


